Este código tem a função de enviar um Dataframe direto para uma tabela no Mysql.
Atenção este primeiro codigo funciona somente se a o Dataframe e a Tabela tiver as mesmas colunas, caso contrário é necessário utilizar outra forma passando um loop for conforme o segundo bloco de código.

In [ ]:
import sqlalchemy as sq
import pymysql

In [ ]:
#enviando os dados do df para o mysql
con = sq.create_engine(f"mysql+pymysql://*usuário*:*senha*a@*servidor*/*schema*")
df.to_sql("Adicionar o nome da tabela", con, if_exists="replace", index=False)

In [ ]:
#enviando os dados do df para o mysql com loop for quando as colunas do df são diferentes da tabela
con = sq.create_engine(f"mysql+pymysql://*usuário*:*senha*a@*servidor*/*schema*")

for index, row in df.iterrows():
    con.execute("INSERT INTO *TABELA DE DESTINO* (*Adicionar o nome das colunas do DF*) values(*Para cada coluna adicionar um *?*)", row.*nome da coluna*, row.*nome da outra coluna*, row.*nome de próxima coluna*)